@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.modal-header{
    font-family: 'Comfortaa', cursive;
}
.modal-body{
    font-family: 'Comfortaa', cursive;
}
.modal-footer{
    font-family: 'Comfortaa', cursive;
}