<mat-card class="name-field-div" fxLayout="column" [@nameAnimationState] = 'getNameState'>
  <div class="name-field-top"fxFlex="20">
    <h1>Enter Your Name!</h1>
  </div>
  <mat-card class="name-field-card" fxFlex="">
    <input matInput placeholder="Wut's ur name?" (keyup.enter)="enterGame(inputValue)" maxlength="14" [(ngModel)]="inputValue">
    <p>Characters left: {{ 14 - inputValue.length }}</p>
  </mat-card>
</mat-card>

<app-simple-modal #popup>
  <div modal-title>
    Too many players
  </div>
  <div modal-body>
    Please try again later.
  </div>
</app-simple-modal>

