<div class="board-select-card">
  <div fxLayout="row" fxFill fxLayoutAlign="center stretch" fxLayoutGap="2vh">
    <mat-card class="board-option-card" fxFlex="25" fxLayout="column" fxFill fxLayoutAlign="start stretch" fxLayoutGap="2">
      <div fxFlex="7">
        <mat-card-title>
          <h1>Boards</h1>
        </mat-card-title>
      </div>
      <button fxFlex="7" (click)="refreshBoards()" mat-button>Refresh</button>
      <mat-radio-group class="make-scrollable" fxFlex="86" fxFill fxLayout="column" [(ngModel)]="selectedBoard">
        <mat-radio-button *ngFor="let board of boards" color="warn" class="radio-button" [value]="board">
          {{board.name}}
        </mat-radio-button>
        <mat-radio-button color="warn" class="radio-button" [value]="newBoardToken">
          {{newBoardToken.name}}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card>
    <mat-card class="board-option-card" fxFlex="60" fxLayout="column" fxFill fxLayoutAlign="start stretch" fxLayoutGap="0">
      <div fxFlex="7">
        <mat-card-title>
          <h1>Enter Game</h1>
        </mat-card-title>
      </div>
      <div fxFlex="40">
        <mat-form-field class="full-width" color="warn">
          <input matInput placeholder="Board Name" [(ngModel)]="selectedBoard.name">
        </mat-form-field>
        <mat-form-field class="full-width" color="warn">
          <input matInput placeholder="Player Limit" [(ngModel)]="selectedBoard.playerLimit">
        </mat-form-field>
        <mat-card>
          <mat-card-title>Extra Board Info</mat-card-title>
          <mat-card-content>
            <pre>Number of Players = {{selectedBoard.numberOfPlayers}}</pre>
            <pre>Socket URL = {{selectedBoard.socketUrl}}</pre>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="53" fxLayout="column" fxFill fxLayoutAlign="end stretch" fxLayoutGap="2">
        <ng-container *ngIf="selectedBoard !== newBoardToken">
          <button fxFlex="15" (click)="updateBoard(selectedBoard)" class="mat-button">Update Board!</button>
          <button fxFlex="15" (click)="removeBoard(selectedBoard)" class="mat-button">Remove Board!</button>
          <button fxFlex="15" (click)="joinBoard(selectedBoard)" class="mat-button">Join Board!</button>
        </ng-container>
        <ng-container *ngIf="selectedBoard === newBoardToken">
          <button fxFlex="15" (click)="createBoard(selectedBoard)" class="mat-button">Create Board!</button>
        </ng-container>
      </div>
    </mat-card>
  </div>
</div>
