@import url('https://fonts.googleapis.com/css?family=Comfortaa');

app-splash{
  width: 100vw;
  height: 20vw;
  border-style: solid;
}
.splash-wrapper {
  height: 40vw;
  width: 30vw;

  position: absolute;
  top: 30%;
  left: 50%;
  margin: 0 0 0 0;
  transform: translate(-50%, -50%);
}
.center-elements{
  width: 60vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 0 0 0;
  padding-bottom: 2.3vw;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
h1{
  display: inline-block;
  font-size: 7vw;
  font-family: 'Comfortaa', cursive;
  font-weight: bolder;
  color: #ff5b5b;
  vertical-align: top;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.goose-icon{
  display: inline-block;
  height: 15vw;
  width: 15vw;
  box-shadow: 0 3px 9px rgba(0,0,0,0.12), 0 3px 9px rgba(0,0,0,0.24);
}

