.chat-top {
  height: 1.8vw;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 3px rgba(0,0,0,0.23);
  background: #FFEAA7;
  color: #e17055;
}

h1{
  margin: 0 0 0 0;
  padding-top: 0.3vw;
  text-align: center;
  font-size: 1vw;
}

mat-card{
  padding: 0;
}

.chat-card {
  margin: 0 0 0 0;
  display: inline-block;
  position: absolute;
  background-color: white;
  top: 31.5vw;
  width: 16vw;
  bottom: 0.5vw;
  left: 0.5vw;
}

