.board-core{
  padding: 0;
  width: 100vw;
  height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
  max-height: 85vh;
  max-width: 177.78vh; /* 16/9 = 1.778 */
  margin: auto;
  position: absolute;
  top:11vh;bottom:1vh; /* vertical center */
  left:0;right:0; /* horizontal center */
}

.user-board{
}

.game-board{
}
