<mat-card class="name-field-div" *ngIf="!hasName" fxLayout="column" [@nameAnimationState] = 'getNameState'>
  <div class="name-field-top"fxFlex="20">
    <h1>Enter Your Name!</h1>
  </div>
  <mat-card class="name-field-card" fxFlex="">
    <input #input matInput placeholder="Wut's ur name?" (keyup.enter)="[setPlayerName(input.value)]">
  </mat-card>
</mat-card>

<div class="board-core" fxLayout="row" *ngIf="hasName" [@boardAnimationState] = 'getBoardState'>
  <div fxLayout="row" fxFill fxLayoutAlign="space-between stretch">
    <div class="user-board" fxLayout="column" fxFlex="18" fxLayoutAlign="space-between stretch">
      <app-score-board fxFlex="58"></app-score-board>
      <app-chat fxFlex="40"></app-chat>
    </div>
    <div class="game-board" fxLayout="column" fxFlex="81" fxLayoutAlign="space-between stretch">
      <app-game-board fxFill></app-game-board>
    </div>
  </div>
</div>
