#global-navbar-root{
  height: 7vw;
	position: relative;
	padding: 0;
	margin: 0;
}
#global-navbar-strip{
	height: 7vw;
	width: 100vw;
	padding: 0;
  background: #FFEAA7;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 0 0 0;
  transform: translate(-50%, -50%)
}

