#global-navbar-root{
  height: 10vh;
	position: relative;
	padding: 0;
	margin: 0;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#global-navbar-root:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 19px 18px rgba(0,0,0,0.22);
}

#global-navbar-strip{
	height: 10vh;
	width: 100vw;
	padding: 0;
  background: #ff5b5b;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 0 0 0;
  transform: translate(-50%, -50%)
}

