@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.center-elements{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 0 0 0;
  transform: translate(-50%, -50%);
}
h1{
  margin: 0.7vw 0 0 0;
  display: inline-block;
  font-size: 6vh;
  font-family: 'Comfortaa', cursive;
  font-weight: bolder;
  color: #3b3e47;
  vertical-align: top;
}
.goose-icon{
  display: inline-block;
  padding: 0;
  margin-right: 2vh;
  height: 9vh;
  width: 9vh;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
}
