@import url('https://fonts.googleapis.com/css?family=Fascinate');
.score-card{
  margin: 0;
  padding: 0;
}
h1{
  font-family: 'Fascinate', black, serif;
  font-size: 2.5vh;
  background-color: #ff5b5b;
  margin: 0;
  text-align: center;
  color: #3b3e47;
}
