@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
  background-image: url("./assets/rect28.png");
  background-size:cover;
  background-color: #cccccc;
  background-attachment: fixed;
  margin: 0%;
  padding: 0%;
}
