@import url('https://fonts.googleapis.com/css?family=Fascinate');

#enter{
  float: left;
  width: 15vw;
  margin: 0;
  padding: 0;
}

#enter, #about, h1:hover{
  background-color: white;
  color: #ffa082;
  cursor: pointer;
}

#about{
  float: right;
  width: 15vw;
  margin: 0;
  padding-right: 7vw;
}

h1 {
  margin: 0;
  padding: 1vw 4vw;
  height: 6vw;
  background-color: #FFEAA7;
  color: #e17055;
  font-family: 'Fascinate', serif;
  horiz-align: center;
  font-size: 5vw;
  width: 14vw;
}

.overlay {
  width: 55vw;
  position: absolute;
  top: 100%;
  left: 50%;
  margin: 0 0 0 0;
  transform: translate(-50%, -50%);
}
